.box
{width:320px;}
.left
{float:left;}
.fix
{clear:both;}
.right
{float:right;}
.wrapper
{
	width:960px;
	margin:0px auto;
}
.box2
{width:600px;}
.fix .box2 p
{
	font-family="roboto";
	font-size:20px;
}
.pa
{
		font-family="roboto";
	font-size:20px;
}
