<!document html>
<head>
    <title>mathematical symbols</title>
    <style>
    th,td{
        border : 2px solid blue;
    }
    tr{
        border:1px solid blue;
    }
    </style>
    </head>
 <body style="font-size:20px;text-align:center;">
<h1 style="color:rgb(15, 15, 167);">Symbols</h1>
<center>
<table style="text-align:center" >
    <tr>
    
        <th>Symbol</th>
        <th>Text</th>
        <th>Symbol</th>
        <th>Text</th>        
        <th>Symbol</th>
        <th>Text</th>
        <th>Symbol</th>
        <th>Text</th>
    </tr>
    <tr>
        <td>&alpha;</td>
        <td>&alpha;aplha;</td>
        <td>&amp;</td>
        <td>&amp;amp;</td>
        <td>&ang;</td>
        <td>&amp;ang;</td>
        <td>&asymp;</td>
        <td>&amp;asymp;</td>
    </tr>
    <tr>
        <td>&beta;</td>
        <td>&amp;beta;</td>        
        <td>&cap;</td>
        <td>&amp;cap;</td>        
        <td>&cong;</td>
        <td>&amp;cong;</td>
        <td>&dagger;</td>
        <td>&amp;dagger;</td>      
        
    </tr>
    <tr>
        <td>&deg;</td>
        <td>&amp;deg;</td>        
        <td>&Delta;</td>
        <td>&amp;Delta;</td>        
        <td>&delta;</td>
        <td>&amp;delta;</td>
        <td>&divide;</td>
        <td>&amp;divide;</td>      
        
    </tr>
    <tr>
        <td>&empty;</td>
        <td>&amp;empty;</td>        
        <td>&equiv;</td>
        <td>&amp;equiv;</td>        
        <td>&eta;</td>
        <td>&amp;eta;</td>
        <td>&forall;</td>
        <td>&amp;forall;</td>      
        
    </tr>
    <tr>
        <td>&frasl;</td>
        <td>&amp;frasl;</td>
        <td>&gamma;</td>
        <td>&amp;gamma;</td>
        <td>&ge;</td>
        <td>&amp;ge;</td>
        <td>&gt;</td>
        <td>&amp;gt;</td>
    </tr>
    <tr>
        <td>&infin;</td>
        <td>&amp;infin;</td>
        <td>&int;</td>
        <td>&amp;int;</td>
        <td>&lambda;</td>
        <td>&amp;lambda;</td>
        <td>&le;</td>
        <td>&amp;le;</td>
    </tr>
    <tr>
        <td>&lt;</td>
        <td>&amp;lt;</td>
        <td>&micro;</td>
        <td>&amp;micro;</td>
        <td>&mu;</td>
        <td>&amp;mu;</td>
        <td>&nabla;</td>
        <td>&amp;nabla;</td>
    </tr>
    <tr>
        <td>&ne;</td>
        <td>&amp;ne;</td>
        <td>&part;</td>
        <td>&amp;part;</td>
        <td>&perp;</td>
        <td>&amp;perp;</td>
        <td>&phi;</td>
        <td>&amp;phi;</td>
    </tr>
    <tr>
        <td>&pi;</td>
        <td>&amp;pi;</td>
        <td>&prop;</td>
        <td>&amp;prop;</td>
        <td>&psi;</td>
        <td>&amp;psi;</td>
        <td>&rho;</td>
        <td>&amp;rho;</td>   
    </tr>
    <tr>
        <td>&sigma;</td>
        <td>&amp;sigma;</td>
        <td>&Sigma;</td>
        <td>&amp;Sigma;</td>
        <td>&tau;</td>
        <td>&amp;tau;</td>
        <td>&theta;</td>
        <td>&amp;theta;</td>
     </tr>
     <tr>
        <td>&xi;</td>
        <td>&amp;xi;</td>
        <td>&plusmn;</td>
        <td>&amp;plusmn;</td>
    </tr>
</table>
</center>
</body>
</html>
    