.body{
    font-size:20px;
    line-height:30px;
}
.container
{width:100%;
height:auto;
display:table;
margin-top:0px;
}
.row
{width:960px;
height:auto;
margin:0px auto;
}

.col-2{width:160px;float:left;height:auto;}
.col-3{width:240px;float:left;height:auto;}
.col-4{width:320px;float:left;height:auto;}
.col-5{width:400px;float:left;height:auto;}
.col-6{width:480px;float:left;height:auto;}

.col-12{width:960px;float:left;height:auto;}

.border1
{
    border-left:1px solid black;
    padding:0 2px;
}
.border
{
    
    width:4px;
    height:158px;
    background-color: black;
}
.header-right
{
    margin-top:90px;
    padding-left:90px;
}
.c2
{
    background-color:#eee;
    width:100%;
    height:40px;
    line-height:40px;
}
.align{
text-align:center;
}
td,th
{
    text-align:center;
}