.container
{width:100%;
height:auto;
display:table;
margin-top:0px;
}
.row
{width:960px;
height:auto;
margin:0px auto;
}
.col-1{width:80px;float:left;height:auto;}
.col-2{width:160px;float:left;height:auto;}
.col-3{width:240px;float:left;height:auto;}
.col-4{width:320px;float:left;height:auto;}
.col-5{width:400px;float:left;height:auto;}
.col-6{width:480px;float:left;height:auto;}
.col-7{width:560px;float:left;height:auto;}
.col-8{width:640px;float:left;height:auto;}
.col-9{width:720px;float:left;height:auto;}
.col-10{width:800px;float:left;height:auto;}
.col-11{width:880px;float:left;height:auto;}
.col-12{width:960px;float:left;height:auto;}
button {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.div1
{height:120px;
width:180px;
background-color:black;
font-size:20px;
color:white;
line-height:120px;
text-align:center;
border-right:20px solid white;
}
.div2
{height:120px;
width:180px;
background-color:black;
font-size:20px;
color:white;
line-height:120px;
text-align:center;
border-right:20px solid white;
}
.div3
{height:120px;
width:180px;
background-color:black;
font-size:20px;
color:white;
line-height:120px;
text-align:center;
border-right:20px solid white;}

.width
{width:200px;
background-color:blue;}

button:hover {
    background-color:blue;
}
.mleft
{
margin-left:150px;}
h2
{color:blue;}